Repository Minozzzi/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm type:check, pnpm format:fix

.lintstagedrc:

{
  "*.{ts, tsx}": [
    "pnpm lint:fix",
    "pnpm type:check"
  ],
  "*.{json, ts, tsx, html, md}": [
    "pnpm format:fix"
  ]
}

feat: add CI action and prettierrc
  .eslintrc.json
  .github/workflows/CI.yml
  .lintstagedrc
  .prettierignore
  .prettierrc
  app/globals.css
  package.json
Due: pnpm format:fix

fix: commits validation
  .github/workflows/CI.yml
Due: none

fix: commits validation on CI workflow
  .github/workflows/CI.yml
Due: none

fix: try CI to validate all commits in PR
  .github/workflows/CI.yml
Due: none

feat: separate PR lint workflow
  .github/workflows/CI.yml
  .github/workflows/commit-lint.yml
Due: none

refactor: rename PR lint file
  .github/workflows/commitlint.yml
Due: none

feat: add tailwind + shadcn
  .eslintrc.json
  .lintstagedrc
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components.json
  lib/utils.ts
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: pnpm lint:fix, pnpm type:check, pnpm format:fix
